.adminPageDiv{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: rgba(133, 172, 187, 0.281);
}
.homeDiv{
    display: grid;
    grid-template-columns: 20% 78%;
    justify-content: space-between;
    background-color: rgba(133, 172, 187, 0.281);
    padding: 20px;
}
.rightDiv{
    border-radius: 10px;
}
.NavDiv{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    height: 610px;
}
.logoDiv>img{
    width:80%;
}
.logoDiv{
    display: flex;
    justify-content: center;
}

.Active,.notActive{
    text-align: start;
    padding-left: 20px;
    margin: 10px 0px;
    color: grey;
    font-weight: 600;
}
.Active{
    color: purple;
    border-right: 3px solid purple;
}
.notActive:hover{
    color: black;
}

.Active>span:nth-child(1),.notActive>span:nth-child(1){
   margin-right: 10px;
   position: relative;
   top: 4px;
}


.routeName{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1250px) {
    .homeDiv{
        grid-template-columns: 20% 79%;
        padding: 20px 10px;
    }
}
@media screen and (max-width: 800px) {
    .NavDiv>a>span:nth-child(2){
        display: none;
    }
    .homeDiv{
        grid-template-columns: 7% 91%;
        padding: 20px 10px;
    }
    .logoDiv>img{
        opacity: 0%;
    }
    .Active>span:nth-child(1),.notActive>span:nth-child(1){
        margin-right: 0px;
     }
     .Active,.notActive{
        padding-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .adminPageDiv{
        height: auto;
    }
    .homeDiv{
        display: block;
        width: 100%;
        padding-left: 50px;
    }
    .NavDiv{
        position: fixed;
        left: 0;
        width: 40px;
        height: 95vh;
    }
}
@media screen and (max-width: 500px) {
    .NavDiv{
        position: fixed;
        left: 0;
        width: 30px;
        height: 95vh;
    }
    .homeDiv{
        padding-left: 40px;
    }
    
}